<div id='root'></div>

<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %></script>
<% end %>

<script>

window.images = {
  logo: "<%= asset_path('disboard-logo.png') %>",
  sessionBg: "<%= asset_path('session_bg.jpg') %>",
  splashDot: "<%= asset_path('splash/bg/dot.svg') %>",
  splashO: "<%= asset_path('splash/bg/o.svg') %>",
  splashSquare: "<%= asset_path('splash/bg/square.svg') %>",
  splashTriangle: "<%= asset_path('splash/bg/triangle.svg') %>",
  splashX: "<%= asset_path('splash/bg/x.svg') %>",
  splashAndroid: "<%= asset_path('splash/fg/android.svg') %>",
  splashDesktop: "<%= asset_path('splash/fg/desktop.svg') %>",
  splashGamepad: "<%= asset_path('splash/fg/gamepad.svg') %>",
  splashHeadphone: "<%= asset_path('splash/fg/headphone.svg') %>",
  splashiPhone: "<%= asset_path('splash/fg/iphone.svg') %>",
  splashLaptop: "<%= asset_path('splash/fg/laptop.svg') %>",
  splashPotion: "<%= asset_path('splash/fg/potion.svg') %>",
  splashQuestion: "<%= asset_path('splash/fg/question.svg') %>",
  splashShield: "<%= asset_path('splash/fg/shield.svg') %>",
};

</script>